.card {
  cursor:pointer;
  max-width: 300px;
  @media screen and (max-width: 500px) {
    max-width: 100%;
  }
  font-size:0.7rem;
  min-height:350px;
  mat-card-header{
    padding-right: 70px;
  }
}

.extras{
  display:flex; flex-flow:column; position:absolute; top:1em; right:1em; color:#333738;
  div{
    display:inline-flex;
    *{
      align-self:center;
    }
  }
}

// img {
//   transition: opacity 1s;
//   opacity: 0;
//   &.ng-lazyloaded {
//     opacity: 1;
//   }
// }
