<mat-card [routerLink]="['/event', event.key]" class="card">
    <mat-card-header>
      <div class="extras">
        <div [style.color]="getDayCountToEvent()>5?'firebrick':'green'">
          <mat-icon>today</mat-icon>
          <div>{{ getDayCountToEvent() }}</div>
        </div>
        <div>
          <mat-icon>home</mat-icon>
          <div>{{getDistance() | number:'1.1-1'}}km</div>
        </div>
      </div>
      <mat-card-title>{{ event.title }}</mat-card-title>
      <mat-card-subtitle>{{ event.category }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [lazyLoad]="event.images[0]" alt="First image of event">
    <mat-card-content>
      <p>
          {{ event.shortDescription }}
      </p>
    </mat-card-content>
  </mat-card>
