<div class="event-slider">
  <mat-toolbar class="toolbar">
    <span>Category XYZ</span>
  </mat-toolbar>
  <div class="carousel" data-flickity='{"groupCells": true }'>
      <app-eventDisplay class="carousel-cell"></app-eventDisplay>
      <app-eventDisplay class="carousel-cell"></app-eventDisplay>
      <app-eventDisplay class="carousel-cell"></app-eventDisplay>
      <app-eventDisplay class="carousel-cell"></app-eventDisplay>
      <app-eventDisplay class="carousel-cell"></app-eventDisplay>
      <app-eventDisplay class="carousel-cell"></app-eventDisplay>
      <app-eventDisplay class="carousel-cell"></app-eventDisplay>
      <app-eventDisplay class="carousel-cell"></app-eventDisplay>
      <app-redirectCard class="carousel-cell"></app-redirectCard>
  </div>
</div>
